body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#displayP {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: white;

  display: flex;
  flex-direction: column;
}

#displayP > div > li {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
}

#personList {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-bottom: 1rem;
}

#personList > div {
  margin: 1rem 0 0 0;
  padding: 1rem 0 0 0;
}

#personList > :first-child {
  padding: 0rem;
  font-size: 2rem;
}

#schoolList {
  flex: 1;
}

#schoolList > span {
  margin: 1em;
  font-size: 1.5rem;
  color: #a54d4d;
}

#schoolList > li > :first-child {
  font-size: 1.3rem;
  font-style: bold;
}

#schoolList > li > span:nth-of-type(3) {
  font-style: italic;
}

#workList {
  flex: 1;
}

#workList > Span {
  margin: 1em;
  font-size: 1.5rem;
  color: #a54d4d;
}

#workList > li > :first-child {
  font-size: 1.3rem;
  font-style: bold;
}

#workList > li > span:nth-of-type(3) {
  font-style: italic;
}
