#education {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
  flex-direction: column;
  margin-right: 25%;
}

#education > div {
  display: flex;
}

#education > div > label {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 40%;
}

#education > div > input {
  width: 60%;
  margin-left: 10px;
}

#education > button {
  width: 5rem;
  align-self: flex-end;
}
