#work {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;

  display: flex;
  flex-direction: column;
  margin-right: 25%;
}
#work > div {
  display: flex;
}

#work > div > label {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 40%;
}

#work > div > input {
  width: 60%;
  margin-left: 10px;
}

#work > button {
  width: 5rem;
  align-self: flex-end;
}
